## License and Copyright
### This file is port of the "ngphp" project, copyright 2024 by Maik Tizziani
### The project is published under let LGPL3 License

###> IDE specific folders and files ###
/.idea/
###< IDE specific folders and files ###

###> private and secret files ###
.env
.envrc
###< private and secret files ###